
nav {
  top: 0;
  padding: 2.5rem 5%;
  color: #fff;
  background-color: #ccff90;
  width: 100%;
  z-index: 30;
  position: fixed;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.11);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.11);
}

#logo {
  font-weight: 700;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  color: #424652;
  float: left;
  margin-left: 2.5rem;
  z-index: 33;
}

nav > a {
  float: right;
  text-decoration: none;
  text-transform: uppercase;
}

nav > a:hover {
  color: rgb(233,50,117);
  text-decoration: none;
}
